* {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.main .timer {
  font-size: 22px;
  text-align: center;
}
